.hamburgerIcon {
    display: none;
}

@media (max-width: 640px) {
    .hamburgerIcon {
        display: flex;
        cursor: pointer;

        transition: opacity 0.2s;
    }

    .hamburgerIcon:hover {
        opacity: 0.3;
    }
}
